@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

body {
	display: flex;
	margin: 0px;
  font-family: Cabin;
}

#search {
  float: center;
  text-decoration: black;
  background-color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 15px;
  padding: 8px 30px;
}

#navbar {
  position: fixed;
  background-image: url('images/bookimage.jpg') cover no-repeat;
  border-right: 5px solid darkslategrey;
	max-width: 250px;
	height: 100vh;
  overflow-y: auto;
}

nav a {
	border-top: 1px solid darkslategrey;
	color: #000;
	display: block;
	padding: 15px;
	text-decoration: none;
}

#main-doc {
  flex: 1;
  background-image: url('images/bookimage.jpg') cover no-repeat;
  margin-left: 260px;
  padding: 10px;
}


header {
	font-size: 35px;
  font-weight: 500;
	padding: 15px;
}

#fiction1 {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
#nonfiction2 {
  display: flex;
  flex-direction: row;
  padding: 5px;

}

h1 {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: underline;
  overflow-x: hidden;
}

#byregion4 {
  overflow-x: hidden;
}

@media only screen and (orientation: landscape) {
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 1px 5px 5px 1px;
    padding: 5px;
    width: 175px;
    height: 175px;
  }